.App {
  font-family: SF Pro Text;
  background-color: #eaebed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 30px;
  color: #fff;
}
.container {
  background-color: #f8777d;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  margin: 20px;
  padding: 10px 12px;
}
.navbar p {
  font-weight: bold;
  cursor: pointer;
}
.Icons {
  cursor: pointer;
}

.blance-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.blance-text {
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  opacity: 0.6;
}
.blance-fee {
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: -0.05em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  margin-bottom: 30px;
  min-height: 200px;
  width: 100%;
}
input {
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
input[type="radio"] {
  margin-left: 10px;
}
button {
  background-color: #f8777d;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px 10px;
  border: 2px solid #fff;
  width: 60%;
  align-self: center;
  margin-top: 10px;
}
.check-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
}
.status-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.status-fee {
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: -0.04em;
}
.transactions-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 343px;
  border-radius: 8px;
  color: #232c2d;
  height: 60px;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
}
.tnx-dec {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;
  color: #232c2d;
  opacity: 0.8;
}
.tnx-amount {
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: -0.02em;
  color: #f8777d;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.search-box input {
  width: 300px;
}
.no-Item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
